
.mapcontainer {position: relative; margin-bottom: 15px; width: auto; height: 700px;}
.map {width: 100%; height: 100%;}

/* Side-by-side comparison */
#comparebox {text-align: right; margin-bottom: 15px;}
#comparebox span {border: 1px solid #ccc; background-color: #f7f7f7; padding: 6px 10px; margin-left: 10px;}
#comparebox span label {font-size: 1.2em;}
#comparebox label, #comparebox input[type=checkbox] {position: relative; vertical-align: middle;}
#comparebox #syncronisebutton {display: none;}
#mapcontainers.sidebyside .mapcontainer {width: 49%;}
#mapcontainers.sidebyside .mapcontainer .activearea {right: 0;}
#mapcontainers.sidebyside .mapcontainer .leaflet-control-layers, #mapcontainers.sidebyside .mapcontainer .leaflet-control-attribution {right: 0;}
#mapcontainers.sidebyside .mapcontainer .summary {position: absolute; top: 0; right: 0; margin: 60px 320px 0 0; width: 157px;}
#mapcontainers.sidebyside .mapcontainer .geocoder input {width: 170px;}
#mapcontainers.sidebyside #mapcontainer0 {float: left;}
#mapcontainers.sidebyside #mapcontainer1 {float: right; margin-left: 20px;}
#mapcontainers.sidebyside nav {height: 170px; width: 310px;}
#mapcontainers.sidebyside nav .radiobuttons {display: none;}
#mapcontainers nav select {display: none;}
#mapcontainers.sidebyside nav select {display: block;}

/* Geocoder */
.geocoder {position: absolute; top: 10px; left: 55px; z-index: 500;}
.geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
.geocoder input.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;}
.geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
body .ui-front {z-index: 1000;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Overlay */
nav {position: absolute; right: 0; width: 330px; height: 100%; z-index: 1000; background-color: #333; opacity: 0.85; color: white;}
.activearea {position: absolute; top: 0; left: 0; right: 330px; height: 100%;}
.leaflet-control-layers, .leaflet-control-attribution, .summary {right: 330px;}
nav form { padding: 20px 10px 30px 15px;}
nav form h3 {margin: 10px 0 2px;}
nav form a {color: white; text-decoration: none;}

/* Controls */
nav form div {padding-left: 3px; border-radius: 4px; width: 100%;}
nav form div.radiobuttons div:hover {background-color: #666;}
nav form label {padding-left: 5px; display: inline-block; width: 280px; margin: 0;}

nav form div.radiobuttons {height: 550px; overflow-y: scroll; overflow-x: hidden;}
nav form label {width: 240px;}

/* Year range */
nav form input[type="range"] {/* width and margin-left calculated in js */}
ul.rangelabels {margin: 0; padding: 0; height: 10px; position: relative; top: -5px;}
ul.rangelabels li {/* width calculated in js */ display: inline-block; text-align: center; margin: 0; padding: 0;}
ul.rangelabels.smalllabels li {font-size: 0.87em; border-right: 1px solid gray;}
ul.rangelabels.smalllabels li:last-child {border-right: 0;}

/* Export */
p.export {float: right;}
p.export a {display: block; border: 1px solid #ccc; padding: 3px 6px; border-radius: 4px; color: white;}
p.export a:hover {text-decoration: none;}

/* Legend and summary */
.info {padding: 15px 12px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;}
.info h4 {margin: 0 0 5px; color: #777;}
.legend {width: 170px; text-align: left; line-height: 18px; color: #555;}
.legend i {width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7;}
.summary {width: 300px;}

/* More details box */
a.moredetails {color: gray; font-size: 0.83em;}
#aboutfields {display: none;}
.vex.vex-theme-plain.wider .vex-content {width: 75%; padding: 25px; min-height: 300px;}
#moredetailsboxcontent {max-height: 500px; overflow-y: scroll;}

/* Popup styling */
.map .leaflet-popup {min-width: 350px;}
table#chart {table-layout: fixed; width: 100%;}
table#chart tr:first-child td {padding-bottom: 1em;}
table#chart td:first-child {width: 200px;}
table#chart tr.RAW_TFR td {padding-top: 1em;}
table#chart tr.RAW_TFR td, table#chart tr.EBS_TFR td {color: #603;}

/* Loading spinner */
#loading {position: absolute; width: 50px; height: 50px; top: 180px; left: 3px; z-index: 500;}

