<?php

# Settings
$settings = array (
	'geocoderApiKey' => 'YOUR_API_KEY',		// Obtain at https://www.cyclestreets.net/api/apply/
	'password' => 'YOUR_DATABASE_PASSWORD',
	'administrators' => array (),			// List of admin usernames
);

# Load and run the class
require_once ('fertility-atlas/fertilityAtlas.php');
new fertilityAtlas ($settings);

?>