
#mapcontainer {position: relative;}

#map {width: auto; height: 700px;}

/* Geocoder */
#geocoder {position: absolute; top: 10px; left: 55px; z-index: 500;}
#geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
#geocoder input.ui-autocomplete-loading {background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;}
#geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
body .ui-front {z-index: 1000;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Overlay */
nav {position: absolute; right: 0; width: 310px; height: 100%; z-index: 1000; background-color: #333; opacity: 0.85;}
.leaflet-control-layers, .leaflet-control-attribution {right: 310px;}
nav {color: white;}
nav a {color: white; text-decoration: none;}
nav #controls {padding: 20px 10px 30px 15px;}

/* Controls */
#controls #year {width: 200px; margin-bottom: 30px;}
#controls #field div {padding-left: 3px; border-radius: 4px; width: 100%;}
#controls #field div:hover {background-color: #666;}
#controls #field label {padding-left: 5px; display: inline-block; width: 260px; margin: 0;}

/* Legend */
.info {padding: 15px 12px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px;}
.info h4 {margin: 0 0 5px; color: #777;}
.legend {width: 230px; text-align: left; line-height: 18px; color: #555;}
.legend i {width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7;}
.summary {width: 300px;}

/* Popup styling */
#map .leaflet-popup {min-width: 500px;}
table#chart {table-layout: fixed; width: 350px;}
table#chart tr:first-child td {padding-bottom: 1em;}
table#chart td:first-child {width: 200px;}
table#chart tr.RAW_TFR td {padding-top: 1em;}
table#chart tr.RAW_TFR td, table#chart tr.EBS_TFR td {color: #603;}


