
        				</div>
				</div>
		</div>
	</div>
		<div class="campl-row campl-local-footer campl-app-footer">
			<div class="campl-wrap clearfix">
				<div class="campl-column6 campl-footer-navigation">
					<p class="campl-app-footer-content"><a href="/contacts/">Contact</a></p>
				</div>
				<div class="campl-column3 campl-footer-navigation">
					<div class="campl-content-container campl-navigation-list">
						
					</div>
				</div>
				<div class="campl-column3 campl-footer-navigation last">
					<div class="campl-content-container campl-navigation-list">
						 
						<div id="ssocontainer">
							{$sso}
						</div>
						
					</div>
				</div>
			</div>	
		</div>

	<div class="campl-row campl-global-footer">
		<div class="campl-wrap clearfix">
			<div class="campl-column3 campl-footer-navigation">
				<div class="campl-content-container campl-navigation-list">
					<p>&#169; {'Y'|date} University of Cambridge</p>
				</div>
			</div>
			<div class="campl-column3 campl-footer-navigation">
				<div class="campl-content-container campl-navigation-list">
					<div class="link-list">
						<h3><a href="http://www.cam.ac.uk/study-at-cambridge">Study at Cambridge</a></h3> 
				</div>
				</div>
			</div>
			<div class="campl-column3 campl-footer-navigation">
				<div class="campl-content-container campl-navigation-list">
					<h3><a href="http://www.cam.ac.uk/about-the-university">About the University</a></h3> 
				</div>
			</div>
			<div class="campl-column3 campl-footer-navigation last">
				<div class="campl-content-container campl-navigation-list">
					<h3><a href="http://www.cam.ac.uk/research">Research at Cambridge</a></h3> 
				</div>
			</div>
		</div>	
	</div>

	<script type="text/javascript" src="/style/project-light/javascripts/libs/ios-orientationchange-fix.js"></script>
  	<script type="text/javascript" src="/style/project-light/javascripts/libs/jquery-min.js"></script>
<script type="text/javascript">$.noConflict();</script>
	<script type="text/javascript" src="/style/project-light/javascripts/libs/modernizr.js"></script>
	
  	<script type="text/javascript" src="/style/custom.js"></script>

</body>
</html>
